.about {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background: var(--color-box);
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.about-feature {
  display: flex;
}

.about-feature .features-container__feature {
  margin: 1;
}

.about-feature .features-container__feature-text {
  margin-left: auto;
  margin-right: auto;
}

.about-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 0 2rem;
}

.about-heading h1 {
  font-family: var(--font-family);
  font-size: 34px;
  line-height: 45px;
  font-weight: 800px;
  max-width: 510px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
